html, body, h1, h2, h3, h4, h5, h6, div, p, table, tr, td, ul, li, input, textarea, button, span {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-size: 12px;
    font-family: "微软雅黑 Ligh","华文细黑","DroidSansFallback","Segoe WP SemiLight";
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
html, body {
    height: 100%;
    width: 100%;
    color:#FFFFFF;
}
a, a:hover, a:active, a:link, a:visited {
    color:#FFFFFF;
    text-decoration:none;
}
table {
    width: 100%;
    border-collapse: collapse;
    vertical-align:middle;
}
input, textarea {
    user-select: all;
    -webkit-user-select: auto;
    -ms-user-select: text;
}

/*
 *   基本样式
 */

/*margin&padding*/
.padding-box-default {
    padding:30px 20px;
}
.padding-top-default {
    padding-top:60px;
}
.padding-top-small {
    padding-top:30px;
}
.padding-top-mini {
    padding-top:10px;
}
.padding-top-tiny {
    padding-top:5px;
}
.padding-right-default {
    padding-right:60px;
}
.padding-right-small {
    padding-right:30px;
}
.padding-right-mini {
    padding-right:10px;
}
.padding-right-tiny {
    padding-right:5px;
}
.padding-left-default {
    padding-left:60px;
}
.padding-left-small {
    padding-left:30px;
}
.padding-left-mini {
    padding-left:10px;
}
.padding-left-tiny {
    padding-left:5px;
}
.padding-bottom-default {
    padding-bottom:60px;
}
.padding-bottom-small {
    padding-bottom:30px;
}
.padding-bottom-mini {
    padding-bottom:10px;
}
.padding-bottom-tiny {
    padding-bottom:5px;
}
/*visibility*/
.hide {
    display:none;
}
/*text*/
.h1-size {
    font-size:30px;
}
.h2-size {
    font-size:25px;
}
.h3-size {
    font-size:20px;
}
.h4-size {
    font-size:15px;
}
.h5-size {
    font-size:10px;
}
.h6-size {
    font-size:5px;
}
.font-weight-normal {
    font-weight:normal;
}
/*text-color*/
.text-error {
    color:red;
}
/*horizon-align*/
.text-left {
    text-align:left;
}
.text-center {
    text-align:center;
}
.text-right {
    text-align:right;
}
.text-indent {
    text-indent:2em;
}


/*
 *component
 */
/*应用背景*/
.bg-div,.mask-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg-div {
    background-image: url('../img/2.jpg');
    background-position: top center;
    background-size: cover;
    z-index:-1;
}
.mask-div {
    background-color:rgba(76,76,76,.1);
    background-attachment:fixed;
    z-index:-1;
}
/*page-header*/
#pageHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    z-index: 10000;
}
#mainTitle, #subTitle {
    cursor: pointer;
}
#mainTitle {
    padding: 5px 10px 5px 0;
    text-align: right;
}
#pageContent {
    position: relative;
    padding: 30px 0 5px;
    z-index: 1;
}
#pageFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    z-index: 10000;
}
#pageMessageDialog {
    position: fixed;
    height:100%;
    width:100%;
    background-color: rgba(76,76,76,.4);
    transition:display linear 2s;
    z-index:8888;
}
#pageMessage {
    background: white;
    color: black;
    padding: 1em 2em;
    border-radius: 20px;
}
.page-dialog-icon {
    position: relative;
    display:inline-block;
    top: -15px;
    right: 25px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #FF0000;
    border-radius:50%;
    color:#FF0000;
    cursor:pointer;
}
/*input-controls*/
.input-controls {
    text-align: center;
}
    .input-controls > input {
        display:block;
        margin:10px auto 15px;
        padding:0.25em 0.5em;
        border-radius:2px;
        border:1px solid #EEEEEE;
        width:80%;
        min-width:200px;
        max-width:400px;
        font-size:16px;
    }
        .input-controls > input.error {
            border-color: #FF0000;
        }
        .input-controls > input:focus {
            border-color:#3EC1FF;
        }
    .input-controls > span {
        display: block;
        width: 80%;
        min-width: 200px;
        max-width: 400px;
        margin: 0 auto;
        text-align: right;
    }
/*header-display*/
    .header-display {
        list-style:none;
    }
        .header-display> li {
            position:relative;
            background-position: top center;
            background-size: cover;
            min-height:150px;
        }
            .header-display> li > div {
                position:absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: rgba(0,0,0,.5);
                font-size:14px;
            }
                .header-display> li > div > p {
                    padding:5px 10px 5px 0;
                    text-align:right;
                    font-size:15px;
                }
.function-display {
    list-style:none;
}
    .function-display > li {
        position: relative;
        display: inline-block;
        margin: 5px;
        background-color: rgba(248,248,248,0.6);
        height: 100px;
        width: 100px;
        cursor:pointer;
    }
        .function-display > li > p {
            position:absolute;
            bottom:0;
            right:0;
            padding:0 5px 5px 0;
            font-size:20px;
        }
        .function-display > li > span {
            position:absolute;
            top:0;
            left:0;
            padding-right:10px;
            height:60px;
            width:90px;
            text-align:right;
            font-size:60px;
        }
        /*bg-color*/
    .function-display .red {
        background-color: rgba(216,34,13,0.8);
    }
    .function-display .purple {
        background-color: rgba(117,36,137,0.8);
    }
    .function-display .blue {
        background-color: rgba(62,189,224,0.8);
    }
    .function-display .light-blue {
        background-color: rgba(145,210,228,0.9);
    }
    .function-display .light-green {
        background-color: rgba(140,197,98,0.9);
    }
    .function-display .orange {
        background-color: rgba(246,172,26,0.8);
    }
    .function-display .gray {
        background-color:rgba(175,176,176,0.8);
    }
.friends-list {
    list-style:none;
    padding-bottom:20px;
}
    .friends-list > li {
        position:relative;
        height:50px;
        border-bottom:1px solid rgba(255,255,255,.2);
        cursor:pointer;
    }
        .friends-list > li > p {
           
            position:absolute;
            bottom:5px;
            right:10px;
            width:100%;
            font-size:25px;
            text-align:right;
        }
.dialog-list {
    list-style:none;
    padding-top:5px;
    padding:30px 0 70px;
}
    .dialog-list > .time {
        text-align: center;
    }
    .dialog-list > .left {
        padding: 10px 15px;
        text-align: left;
    }
    .dialog-list > .right {
        padding: 10px 15px;
        text-align: right;
    }
    .dialog-list > .time > span {
        padding: .25em .5em;
        background-color: rgba(0,0,0,.4);
        border-radius: 4px;
    }
    .dialog-list > .left > span,
    .dialog-list > .right > span {
        display:inline-block;
        padding: .25em .5em;
        width: auto;
        max-width: 70%;
        word-break: break-all;
        font-size: 15px;
        border-radius: 4px;
    }
    .dialog-list > .left > span {
        background-color: rgba(0,255,0,.6);
    }
    .dialog-list > .right > span {
        background-color: rgba(255,255,255,.6);
        color: #000000;
    }
.dialogInput {
    position: fixed;
    left: 0;
    bottom: 26px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 7px 2%;
}
    .dialogInput > textarea {
        width: 96%;
        font-size: 15px;
        scrollbar-track-color:transparent;
        resize:none;
    }
/*button*/
.button {
    padding: 0.25em 1em;
    background-color:transparent;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    color:#EEEEEE;
    transition:all linear .5s;
}
.button:hover,
.button:active {
    background-color:rgba(62,209,255,.2);
    border-color:#3EC1FF;
    color:#FFFFFF;
}
.button-large {
    font-size:16px;
}

/* title-fixed*/
.title-fixed {
    position:fixed;
    top:0;
    left:5px;
    z-index:12000;
}